/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #30444e;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* Header */

.main-header {
  padding-top: 22px;
  padding-bottom: 22px;
}

.main-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-logo-img {
  width: 119px;
  height: 56px;
}

.sitenav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sitenav-item:not(:last-child) {
  margin-right: 50px;
}
.sitenav-link {
  text-decoration: none;
  color: #1f2e35;
  font-size: 18px;
  line-height: 21px;
}

.sitenav-link:hover {
  opacity: 0.8;
  color: #ee4248;
}

.sitenav-link:active {
  opacity: 0.6;
  color: #ee4248;
}

.navicons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroo {
  background-color: #f6f6f6;
  margin-bottom: 116px;
}

.hero-img {
  margin-right: 91px;
  padding-bottom: 72px;
}

/* Main */

.main-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hero {
  margin-bottom: 163px;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero-content {
  padding-top: 57px;
}

/* Footer */

.hero-header {
  width: 545px;
  height: 192px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 24px;
}

.hero-content-highlite {
  color: #ee4248;
}

.herro-header {
  margin: 0;
  width: 454px;
  height: 86px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  line-height: 43px;
  font-size: 32px;
}

.hero-text {
  width: 520px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 24px;
}

.hero-ttext {
  width: 520px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  line-height: 27px;
  font-size: 18px;
}

.main-button {
  padding: 12px 32px;
  text-decoration: none;
  background-color: #ee4248;
  color: #fff;
  border-radius: 4px;
}

.herro-img {
  margin-top: 110px;
}

.service {
  margin: 0;
  width: 288px;
  height: 43px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  line-height: 43px;
  font-size: 32px;
  padding-bottom: 47px;
  margin-right: auto;
  margin-left: auto;
}

.frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.product {
  padding-right: 53px;
  margin-bottom: 17px;
}

.icons {
  margin-bottom: 17px;
}

.our-product {
  color: #ee4248;
  margin: 0;
  margin-bottom: 15px;
}

.our-text {
  width: 319px;
  height: 108px;
  margin-bottom: 15px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  line-height: 27px;
  font-size: 18px;
}

.produc {
  padding-right: 43px;
  margin-bottom: 21px;
}

.our-produc {
  color: #ee4248;
  margin: 0;
  margin-bottom: 15px;
}

.our-textt {
  width: 329px;
  height: 108px;
  margin-bottom: 15px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  line-height: 27px;
  font-size: 18px;
}

.produt {
  margin-bottom: 21px;
}

.our-produt {
  color: #ee4248;
  margin: 0;
  margin-bottom: 15px;
}

.our-texxt {
  width: 329px;
  height: 108px;
  margin-bottom: 15px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  line-height: 27px;
  font-size: 18px;
}

.ruko {
  width: 317px;
  height: 54px;
  margin-bottom: 15px;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 18px;
  margin-bottom: 24px;
}

.samara {
  margin: 0;
  width: 259px;
  height: 21px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  line-height: 21px;
  font-size: 18px;
}

.samaraa {
  margin-top: 40px;
  width: 85px;
  height: 28px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  line-height: 28px;
  font-size: 24px;
}

.framee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.our {
  margin-bottom: 138px;
}

.footer {
  padding-right: 47px;
}

.foter {
  margin: 0;
  margin-bottom: 10px;
}

.samara {
  margin-bottom: 8px;
}

.ruko {
  width: 317px;
  height: 54px;
}

.rukoo {
  width: 269px;
  height: 81px;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 18px;
}
